doctype html
html
  head
    title bumba dance class
    block scripts
    block style 
        
  body
    nav#navbar
        ul
          div#logo
            img(src='../static/logo.jpg') 
          li #[a(href='/') Home]
          li #[a(href='/about') About]
          li #[a(href='/services') Services]
          li #[a(href='/classinfo') Class Info]
          li #[a(href='/contact') Contact Us]
    section#introsection 
        div WELCOME TO BUMBA'S DANCE CLASS 
        div.small  Feel The Essence of Indian and Western Dance Here
          
    block content
    block foot
     footer#footer 
        | copywright © 2023 bumbadanceacademy.com |All rights reserved 