extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style 
      include ../static/style.css
  
block content 
    section#missionsection 
        h3  Our Mission
        div.card
          h4 Dance Perfection
          div.card-box 
              div.card-img-one 
                  img(src='../static/first.jpg')
              div.card-content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore illo aut velit totam, mollitia quis magnam nihil vel laboriosam minima. Aut blanditiis reiciendis doloremque quasi eius sint suscipit quisquam nemo?
        div.card
          h4 Dance as you like
          div.card-box 
              div.card-img 
                  img(src='../static/second.jpg')
              div.card-content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore illo aut velit totam, mollitia quis magnam nihil vel laboriosam minima. Aut blanditiis reiciendis doloremque quasi eius sint suscipit quisquam nemo?
        div.card
          h4 Dance teaching
          div.card-box 
              div.card-img 
                  img(src='../static/third.jpg')
              div.card-content
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore illo aut velit totam, mollitia quis magnam nihil vel laboriosam minima. Aut blanditiis reiciendis doloremque quasi eius sint suscipit quisquam nemo?
    section#sponsersection 
        h3  Our Sponsers
        div#sponser
            image(src='../static/sponser1.jpg',alt="sponsers",class="spimage")
            image(src='../static/sponser2.jpg',alt="sponsers",class="spimage")
            image(src='../static/sponser3.jpg',alt="sponsers",class="spimage")
            image(src='../static/sponser4.jpg',alt="sponsers",class="spimage")