@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
html{
    scroll-behavior: smooth;
}
#logo{
    display: flex;

}
#logo img{
    height: 65px;
    filter: invert(1);
    border-radius: 50px;
    margin-right: 320px;
}
#navbar{
    display: flex;
    background: rgba(241, 112, 112);
    padding: 13px 14px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    font-family: 'Lobster', cursive;
}
#navbar li a:hover{
    color: black;
    background-color: rgb(244, 196, 64);
    border-radius: 9px;
    position: sticky;
}
#introsection{
    background: center/cover no-repeat url("../static/firstbg.jpg");
    opacity: 0.8;
    color: white;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: red;
    padding-bottom: 143px;
}
#introsection div.small{
    font-size: 25px;
    font-family: 'Courgette', cursive;
    padding: 5px;
}
#sponsersection{
    height: 480px;
    /* background: center/cover no-repeat url("../static/bg1.jpg"); */
    background: center/cover no-repeat url("../static/bg2.jpg");
    opacity: 0.8;
}

#sponsersection h3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 20px;
    font-size: 45px;
    background-color: rgb(35 18 69 / 33%);
}
#missionsection{
    height: 400px;
    background-color: rgb(98 218 193 / 33%);
    width: 100%;
    margin: auto;
}
#missionsection h3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    /* padding-top: 10px; */
    font-size: 45px;
    background-color:rgb(93 33 106 / 45%) ;
}
.card{
    background-color: rgba(238, 190, 190, 0.71);
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 27%;
    margin: 34px 44px;
    height: 250px;
}
.card h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 12px;
    font-size: 20px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 100px;
    padding: 0 14px;
}
.card-img-one{
    height: 100px;
    padding: 0 5px;
}
.card-img-one img{
    height: inherit;
    width: 125px;
}
.card-img img{
    height: inherit;
}
.card-content{
    padding: 0 10px;
}
.card-content p{
    font-size: 19px;
    font-family: 'Courgette', cursive;
}
#sponser{
    height: 191px;
    max-width: 1078px;
    margin: 45px 213px
}
.spimage{
    height: 80%;
    margin: 58px 50px;
    border-radius: 50px;
} 
#footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
}
